<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to getMeFlights!</h1>
  <p>
    You have successfully signed up to getMeFlights.com, <br>  use <%= @user.email %> to login.
  </p>
<p>
  To login to the site, just follow this link <%= @url %>
</p>

</body>
</html>