
<div class="loginOut">
<% if session[:user_id] %>
  <div class="signBox">
  <%= link_to "Logout", logout_path, class:"btn btn-success" %>
  </div>
<% else %> 
<div class="signBox">
  <%= link_to "Login", login_path, class:"btn btn-success" %>
  </div>
<% end %>
</div>


